qt/widgets/spectroscopy/inc/MantidQtWidgets/Spectroscopy/InterfacePropertiesSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
targetNamespace="https://www.w3schools.com" xmlns="https://www.w3schools.com">

<xs:element name="INTERFACE-PROPERTIES">
  <xs:complexType>
    <xs:element name="INTERFACE">
	  <xs:complexType>
        <xs:attribute name="id"/>
        <xs:element name="EXTENSIONS"/>
        <xs:element name="FILE-SUFFIXES"/>
        <xs:element name="WORKSPACE-SUFFIXES"/>
	  </xs:complexType>
    </xs:element>
  </xs:complexType>
</xs:element>

</xs:schema>
